<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">

<head>
    <title>订阅成功 - FT中文网</title>
    <meta content="订阅成功" name="description" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="./get.php?u=http://static.ftacademy.cn/img/ipad_icon.png" sizes="32x32" />
    <link rel="apple-touch-icon-precomposed" href="./get.php?u=http://static.ftacademy.cn/img/ipad_icon.png" />
    <link inline rel="stylesheet" type="text/css" href="styles/status.css" />
    <script inline src="scripts/key.js"></script>
    <script inline src="scripts/key_ga4.js"></script>
    <!-- MARK: Important: Need to add Google Analytics load events manually GA4 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2MCQJHGE8J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        if (window.gAutoStart === undefined) {
            try {
                trackerNew();
            } catch (err) {
                gtag('config', 'G-2MCQJHGE8J');
            }
        }
        gtag('event', 'page_view', { 'send_to': 'G-2MCQJHGE8J', 'page_location': window.location.href });
    </script>
    <!-- End Google Analytics -->
    <style type="text/css">
        .product-note {
            background-color: #f2e0d3;
            font-size: .8em;
            padding: 1em;
            border-radius: .5em;
        }
    </style>
</head>

<body id="bodyId">

    <header class="header-container">
        <div class="header-inner">
            <div class="header-title">会员订阅</div>
            <div class="header-side header-left" style="display: none;">
                <div class="header-brand">
                    <figure class="loading" data-url="/get.php/u=http://static.ftacademy.cn/images/masthead36.png">
                    </figure>
                </div>
            </div>
        </div>
    </header>

    <div class="payment-info-container">
        <div class="payment-info-inner notice-container">
            <div class="hint-word"><span class="hint-img"></span><span class="hint-content"
                    id="hint-content">恭喜您订阅成功！</span></div>
            <!--
        <div class="return-btn" id="returnTo"><button>返回</button></div>
        -->
            <div class="return-btn" id="infoConfirm"><button>确认信息</button></div>
        </div>
    </div>

    <div class="payment-info-container">
        <div class="payment-info-inner">
            <div>交易单号：<span id="order-number"></span></div>
            <div>已支付金额：<span id="payment-amount"></span>元</div>
            <div style="display:none">会员类型：<span id="member-type-name"></span></div>
            <div style="display:none">有效期至：<span id="expire-date">-</span></div>
        </div>
    </div>

    <div class="payment-info-container">
        <div class="payment-info-inner">
            <div class="product-title">如何行使订阅权限</div>
            <div>
                ——iPhone或iPad，请到苹果的App Store搜索并下载“FT中文网”App；<br>
                <div class="product-note">
                    注意：苹果 App Store 中国大陆地区不再提供“FT中文网”App的下载、更新及订阅服务。本App的后续下载、更新及订阅，请使用非中国大陆地区 App Store。
                </div>
                <!--
            ——安卓手机，请下载并安装付费会员专用的FT中文网安卓应用；<br>
            ——安卓手机，请到华为应用市场搜索并下载“FT中文网”App，或联系我们的客服以获取最新版安卓安装程序；<br>
            -->
                ——安卓手机，请搜索微信公众号“小T服务在线”，在公众号底部获取最新安装程序，也可在此公众号内联系客服协助解决；<br>
                ——您也可以在电脑上访问付费会员专用网址：<a id="vip_url" href="https://www.chineseft.net/">www.chineseft.net</a>。使用您购买订阅时登录FT中文网的帐号在电脑端登录后，即可解锁付费资讯。<br>
                ——客服电话/微信：<a href="tel: 18501972480">18501972480</a><br><br>
            </div>
            <div><a href="subscription.html#faq">常见问题请点击此处</a></div>
        </div>
    </div>

    <div class="payment-info-container">
        <div class="payment-info-inner product-benefits-container">{% for product in products %}
            <div class="product-container {{product.type.replace(' ', '')}}">
                <div class="product-title">{{product.title}}权益：</div>
                <ul>{% for benefit in product.benefits %}
                    <li>{{benefit}}</li>{% endfor %}
                </ul>
                <div class="note">{{product.note}}</div>
            </div>{% endfor %}
        </div>
    </div>

    <script inline src="scripts/notice.js"></script>

</body>

</html>