<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FT中文网 - 会员订阅</title>
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta content="会员订阅" name="description" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" href="https://static.ftacademy.cn/img/ipad_icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="https://static.ftacademy.cn/img/ipad_icon.png" sizes="32x32">
    <link inline rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
    {% include "partials/header.html" %}
    <div class="container">
        <div class="welcome-guide width-cls">
            <!--<div class="show-image"></div>-->
            <div class="words">
                <div class="content_headline">
                    <span class="leading_text">成为FT中文网订阅会员，即可阅读：</span>
                    <blockquote></blockquote>
                </div>
                <div class="first"><strong class="firstStrong">{{guide.first}}</strong></div>
                <div class="second">{{guide.second}}</div>
            </div>
            <div class="clear-class"></div>
        </div>
    </div>

    <div id="payment-page">
        <div id="payment-shadow" class="o-overlay-shadow fadeIn"></div>
        <div id="payment-box" class="rightanswer show o-overlay__arrow-top fadeInRight">
            <div class="payment-title">欢迎订阅FT中文网会员</div>
            <div class="payment-way">
                <div class="payment-name"><span>会员类型：</span><span class="payment-type"><strong id="memberType"></strong></span></div>
                <div class="payment-method"><span>支付方式：</span>
                    <label class="alipay-mode"><input name="pay" type="radio" value="alipay" checked /><span id="pay-alipay"></span></label>
                    <label class="wxpay-mode"><input name="pay" type="radio" value="wxpay" /><span id="pay-wxpay"></span></label>
                </div>
            </div>
            <div class="pay-action"><label>支付金额 <label id="price"></label></label><button class="to-pay" id="to-pay">确定支付</button></div>
        </div>
    </div>

    <div class="o-member-container">
        <div class="o-member__heading">
            <p id="heading-hint">请选择您的订阅方式</p>
        </div>
    </div>

    <div id="site-content" class="o-member-container">
        <div class="o-member-row">

            <!-- Standard -->
            <div id="standard" class="o-member-outer">
                <div class="o-member o-member_standard">
                    <div class="o-member_content">
                        <h2 class="o-member__title">{{products[1].title}}</h2>
                        <div class="o-member__border"></div>
                        <ul class="o-member__benefits">
                            <li id="benefits_standard"></li>
                            {% for benefit in products[1].benefits %}
                            <li>{{benefit}}</li>
                            {% endfor %}
                        </ul>
                        <p id="note_standard">{{products[1].note}}</p>
                        <div class="o-member__subscribe">
                            <a data-key="{{products[1].key}}"><button class="openSub" id="standard-btn">{{products[1].openBtn}}</button></a>
                            <p class="data-price" id="standard_price">{{products[1].price}}</p>
                            <span id="standard_price_origin">{{products[1].price}}</span>
                            <input type="text" value="" hidden id="price_standard">
                        </div>
                    </div>
                </div>
                <div class="o-member note_more standard" id="note_more_standard">{{products[1].note_more}}</div>
            </div>

            <!-- Premium -->
            <div id="premium" class="o-member-outer">
                <div class="o-member o-member_premium">
                    <div class="o-member_content">
                        <h2 class="o-member__title">{{products[2].title}}</h2>
                        <div class="o-member__border"></div>
                        <ul class="o-member__benefits">
                            <li id="benefits_premium"></li>
                            {% for benefit in products[2].benefits %}
                            <li>{{benefit}}</li>
                            {% endfor %}
                            <li id="ticket">FT中文网<!--year-->年度论坛门票2张</li>
                        </ul>
                        <p id="note_premium">{{products[2].note}}</p>
                        <div class="o-member__subscribe">
                            <a data-key="{{products[2].key}}"><button class="openSub" id="premium-btn">{{products[2].openBtn}}</button></a>
                            <p class="data-price" id="premium_price">{{products[2].price}}</p>
                            <span id="premium_price_origin">{{products[2].price}}</span>
                            <input type="text" value="" hidden id="price_premium">
                        </div>
                    </div>
                </div>
                <div class="o-member note_more premium" id="note_more_premium">{{products[2].note_more}}</div>
            </div>

            <!-- Monthly -->
            <div id="monthly" class="o-member-outer">
                <div class="o-member o-member_standard_monthly">
                    <div class="o-member_content">
                        <h2 class="o-member__title">{{products[0].title}}</h2>
                        <div class="o-member__border"></div>
                        <ul class="o-member__benefits">
                            <li id="benefits_standard_monthly"></li>
                            {% for benefit in products[0].benefits %}
                            <li>{{benefit}}</li>
                            {% endfor %}
                        </ul>
                        <p id="note_standard_monthly">{{products[0].note}}</p>
                        <div class="o-member__subscribe">
                            <a data-key="{{products[0].key}}"><button class="openSub" id="standard-monthly-btn">{{products[0].openBtn}}</button></a>
                            <p class="data-price" id="standard_monthly_price">{{products[0].price}}</p>
                            <span id="standard_monthly_price_origin">{{products[0].price}}</span>
                            <input type="text" value="" hidden id="price_standard_monthly">
                        </div>
                    </div>
                </div>
                <div class="o-member note_more" id="note_more_standard_monthly">{{products[0].note_more}}</div>
            </div>

        </div>
    </div>

    {% include "partials/QandA.html" %}
    {% include "partials/footer.html" %}

    <script inline src="scripts/key.js"></script>
    <script inline src="scripts/main.js"></script>
</body>

</html>
