<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FT中文网 - 会员订阅</title>
  <meta http-equiv="Content-Language" content="zh-CN" />
  <meta content="会员订阅" name="description" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon-precomposed" href="https://static.ftacademy.cn/img/ipad_icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="https://static.ftacademy.cn/img/ipad_icon.png" sizes="32x32">

  <script>
    var today = new Date();

    /*
    var switchtTime = new Date('2021/02/18 00:00:00');
    if (today.getTime() < switchtTime.getTime()) {
        var price = {'standard': 258, 'premium': 1998, 'monthly': 28};
        //console.log('Old Price');
    }
    */

    var href = window.location.href.toLocaleLowerCase();
    if (href.indexOf('ft_win_back') > 0) {
        var price = {'standard': 148, 'premium': 998, 'monthly': 35};
        //console.log('[WinBack]');
    } else if (href.indexOf('ft_renewal') > 0) {
        var price = {'standard': 218, 'premium': 1498, 'monthly': 35};
        //console.log('[Renewal]');
    } else if (href.indexOf('ft_discount') > 0) {
        var price = {'standard': 258, 'premium': 1698, 'monthly': 35};
        //console.log('[Discount]');
    } else if (href.indexOf('uibe') > 0 || href.indexOf('bimba') > 0) {
        var price = {'standard': 148, 'premium': 998, 'monthly': 35};
    } else {
        var mothlyPrice = (href.indexOf('intro') > 0) ? 1 : 35;
        var price = {'standard': 298, 'premium': 1998, 'monthly': mothlyPrice};
        //console.log('[Default]');
    }

    // @@@@@@@@@@
    // -- Set Promo -- [subscription.html]
    // -- Set Policy -- [main.js]
    // @@@@@@@@@@
    var promoName = '';
    var promoStart = promoEnd = 0;
    var promo = [];
    promo.push({'name': 'FuNiuYingChun', 'start': '2021/02/01 12:00:00', 'end': '2021/02/07 23:59:59', 'standard': 218, 'premium': 1698, 'monthly': 28});
    promo.push({'name': '2021-08-31_Preview', 'start': '2021/08/09 00:00:00', 'end': '2021/08/22 23:59:59', 'standard': 218, 'premium': 1498, 'monthly': 35});
    // -- Default Page Shows Default Prices -- 2021-08-23 [Alanna]
    //promo.push({'name': '2021-08-31', 'start': '2021/08/23 00:00:00', 'end': '2021/09/02 23:59:59', 'standard': 148, 'premium': 998, 'monthly': 35});
    for (i = 0; i < promo.length; i++) {
        promoStart = new Date(promo[i]['start']).getTime();
        promoEnd = new Date(promo[i]['end']).getTime();
        if (today.getTime() >= promoStart && today.getTime() <= promoEnd) {
            promoName = promo[i]['name'];
            price = {'standard': promo[i]['standard'], 'premium': promo[i]['premium'], 'monthly': promo[i]['monthly']};
            //console.log('['+ price['monthly'] +'][' + price['standard'] + ']['+ price['premium'] +']');
            Status = 'Promo';
            break;
        } else {
            Status = 'Default';
        }
    }
    console.log(Status);

    var priceAvg = {'standard': Math.round((price['standard']/365)*10)/10, 'premium': Math.round((price['premium']/365)*10)/10, 'monthly': Math.round((price['monthly']/31)*10)/10};
  </script>

  <script inline src="scripts/key.js"></script>

  <link inline rel="stylesheet" type="text/css" href="styles/main.css">

  <style>
      #standard_price_origin, #standard_monthly_price_origin, #premium_price_origin {
          display: none;
          color: #CCC;
          font-size: .6em;
      }
      #standard_price_origin, #premium_price_origin {
          text-decoration: line-through;
      }
  </style>

</head>

<body>
  {% include "partials/header.html" %}
  <div class="container">

    <div class="welcome-guide width-cls">
      <div class="show-image"></div>
      <div class="words">
        <div class="first"><strong class="firstStrong">{{guide.first}}</strong></div>
        <div class="second">{{guide.second}}</div>
      </div>

      <div class="clear-class"></div>
    </div>
  </div>



  <div id="payment-page">
    <div id="payment-shadow" class="o-overlay-shadow fadeIn"></div>
    <div id="payment-box" class="rightanswer show o-overlay__arrow-top fadeInRight">
      <div class="payment-title">欢迎订阅FT会员服务</div>
      <div class="payment-way">
        <div class="payment-name"><span>会员类型：</span><span class="payment-type"><strong id="memberType"></strong></span></div>
        <div class="payment-method"><span>支付方式：</span><label class="mode"><input name="pay" type="radio" value="ali" checked /><span id="pay-ali"></span> </label>
          <label
            class="wxpay-mode" style="display:inline-block"><input name="pay" type="radio" value="wxpay" /><span id="pay-wxpay"></span></label>
        </div>
      </div>
      <div class="pay-action"><label>支付金额 <label id="price"></label></label><button class="to-pay" id="to-pay">确定支付</button></div>
    </div>
  </div>

  <div class="o-member-container">
      <div class="o-member__heading">
        <p id="heading-hint">请选择您的订阅方式</p>
      </div>
  </div>


  <div id="site-content" class="o-member-container">
    <!--<div class="o-member__heading">
      <p id="heading-hint">请选择您的订阅方式</p>
    </div>-->

    <div class="o-member-row">

      <div class="o-member-outer">
        <div class="o-member o-member__standard">
          <div class="o-member_content">
            <h2 class="o-member__title">{{products[0].title}}</h2>
            <div class="o-member__border"></div>
            <ul class="o-member__benefits">
              <li id="benefits_standard"></li>
              {% for benefit in products[0].benefits %}
              <li>{{benefit}}</li>
              {% endfor %}
            </ul>
            <p id="note_standard">{{products[0].note}}</p>
            <div class="o-member__subscribe">
              <a data-key="{{products[0].key}}"><button class="openSub" id="standard-btn">{{products[0].openBtn}}</button></a>
              <p class="data-price" id="standard_price">{{products[0].price}}</p>
              <span id="standard_price_origin">原价{{products[0].price}}</span>
              <input type="text" value="" hidden id="price_standard">
            </div>
          </div>
        </div>
      </div>
      <script>
          document.getElementById('price_standard').value = '¥' + price['standard'] + '元/年';
          document.getElementById('benefits_standard').innerHTML = '专享订阅内容每日仅需¥' + priceAvg['standard'] + '元';
      </script>

      <div class="o-member-outer">
        <div class="o-member o-member__premium">
          <div class="o-member_content">
            <h2 class="o-member__title">{{products[2].title}}</h2>
            <div class="o-member__border"></div>
            <ul class="o-member__benefits">
              <li id="benefits_premium"></li>
              {% for benefit in products[2].benefits %}
              <li>{{benefit}}</li>
              {% endfor %}
              <li id="ticket">FT中文网<!--year-->年度论坛门票2张</li>
            </ul>
            <p id="note_premium">{{products[2].note}}</p>
            <div class="o-member__subscribe">
              <a data-key="{{products[2].key}}"><button class="openSub" id="premium-btn">{{products[2].openBtn}}</button></a>
              <p class="data-price" id="premium_price">{{products[2].price}}</p>
              <span id="premium_price_origin">原价{{products[2].price}}</span>
              <input type="text" value="" hidden id="price_premium">
            </div>
          </div>
        </div>
      </div>
      <script>
          document.getElementById('price_premium').value = '¥' + price['premium'] + '元/年';
          document.getElementById('benefits_premium').innerHTML = '专享订阅内容每日仅需¥' + priceAvg['premium'] + '元';
      </script>

      <div class="o-member-outer">
        <div class="o-member o-member__standard__monthly">
          <div class="o-member_content">
            <h2 class="o-member__title">{{products[1].title}}</h2>
            <div class="o-member__border"></div>
            <ul class="o-member__benefits">
              <li id="benefits_standard_monthly"></li>
              {% for benefit in products[1].benefits %}
              <li>{{benefit}}</li>
              {% endfor %}
            </ul>
            <p id="note_standard_monthly">{{products[1].note}}</p>
            <div class="o-member__subscribe">
              <a data-key="{{products[1].key}}"><button class="openSub" id="standard-monthly-btn">{{products[1].openBtn}}</button></a>
              <p class="data-price" id="standard_monthly_price">{{products[1].price}}</p>
              <span id="standard_monthly_price_origin">&nbsp;<!--原价{{products[1].price}}--></span>
              <input type="text" value="" hidden id="price_standard_monthly">
            </div>
          </div>
        </div>
      </div>
      <script>
          document.getElementById('price_standard_monthly').value = '¥' + price['monthly'] + '元/年';
          document.getElementById('benefits_standard_monthly').innerHTML = (priceAvg['monthly']) ? '专享订阅内容每日仅需¥' + priceAvg['monthly'] + '元' : '专享订阅内容每月仅需¥1元';
      </script>

    <script>
        if (today.getTime() >= promoStart && today.getTime() <= promoEnd) {
            //document.getElementById("benefits_standard").innerHTML = '';
            //document.getElementById("benefits_premium").innerHTML = '';
            //document.getElementsByClassName('firstStrong')[0].innerHTML = '';
            //document.getElementsByClassName('second')[0].innerHTML = '';
            document.getElementById('standard_price_origin').style.display = 'block';
            document.getElementById('premium_price_origin').style.display = 'block';
            document.getElementById('standard_monthly_price_origin').style.display = 'block';
            //var PriceDesc = '（福牛迎春）';
            var PriceDesc = '';
        } else {
            var PriceDesc = '';
        }
    </script>

    </div>
  </div>

  {% include "partials/QandA.html" %}
  {% include "partials/footer.html" %}

  <script inline src="scripts/main.js"></script>

  <script>
    //var today = new Date();
    // [./js/log.js] -> [Domain + PHP] -> [200] -- [Enabled]
    // [./js/log.js] -> [Only PHP] -> [404] -- [Disable]
    /*
    var y = today.getFullYear();
    var m = zeroFix(today.getMonth() + 1);
    var d = zeroFix(today.getDate());
    var logDomain = 'https://dhgxl8qk9zgzr.cloudfront.net';

    function zeroFix(n) {
      return (n < 10) ? '0' + n : n;
    }

    if (window.gAutoStart === undefined) {
      (function (d, s, u, j, x) {
        j = d.createElement(s), x = d.getElementsByTagName(s)[0];
        j.async = true;
        j.src = u;
        x.parentNode.insertBefore(j, x);
      })(document, 'script', logDomain + '/js/log.js?' + y + m + d);
    }
    */
  </script>

</body>

</html>